<mat-sidenav-container class="flex h-full border-r-2 border-r-white-200">
  <mat-sidenav mode="side" opened class="!bg-white-base">
    <mat-icon [svgIcon]="" class="mat-icon"></mat-icon>
    <mat-nav-list>
      <mat-list-item class="text-heliotrope-base" href="#">Link 1</mat-list-item>
      <mat-list-item class="text-heliotrope-base" href="#">Link 2</mat-list-item>
      <mat-list-item class="text-heliotrope-base" href="#">Link 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

